body {
}

* {
    box-sizing: border-box;
}

.taulu {
    table-layout : fixed;
    width : 400px;
}

.nimi2 {
    width : 200px;
}

.tuloste {
    text-align : center;
    width: 40px;
}

.varasto {
    width: 60%;
    float: left;
    padding: 15px;
}

.mukana {
    width: 40%;
    float: left;
    padding: 15px;
    background-color: #edf2f6;
}

ul.checkbox {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

    ul.checkbox li {
        border: 1px transparent solid;
        display: inline-block;
        width: 12em;
    }

.osallistujanappi {
    margin-left: 40px;
}

.tasoitusleima {
    margin-left: 5px;
}

.tasoitusleima2 {
    margin-top:  8px;
    margin-left: 5px;
}